<div class="card">
  <div class="header">
    <h2 class="title">Page 2</h2>
  </div>

  <div class="content">
    <form #form="ngForm" name="addUser" (ngSubmit)="handleSubmit()" class="form-horizontal">
      <div class="form-group">
        <label class="col-auto">Username</label>
        <div class="col-12">
          <input [(ngModel)]="username"name="username" class="form-control" />
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add User</button>
      </div>
    </form>
  </div>
</div>
