<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
        <img src="../../assets/img/angular2-logo.png" alt="">
      </div>
      MicroApps
    </a>
  </div>

  <ul class="nav">
    <li>
      <a href="#"><i class="ti-home"></i> Home</a>
    </li>

    <li>
      <a href="#/client-b"><i class="ti-arrow-top-right"></i> Client Routing</a>
    </li>

    <li>
      <a (click)="sendState()"><i class="ti-close"></i> Send State</a>
    </li>
  </ul>
</div>
